@import "tailwindcss";

@theme {
  --color-primary: #18181a;
  --color-highlight: #3ddfff;
}
body {
  @apply bg-primary text-white;
}
.container {
  max-width: 80rem;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}
